.full-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.single-product {
    width: 80%;
    display: flex;
    padding: 20px 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.single-product img {
    width: 100px;
    height: 100px;
}
.single-product button {
    padding: 10px 15px;
    border: none;
    background: gainsboro;
    border-radius: 10px;
}